.detail-container {
  display: flex;

  h5 {
    display: inline;
  }

  .inline-section {
    margin: 10px;
    margin-left: 0;
  }

  .media {
    margin: 5%;
    align-items: center;
    flex-direction: column;
    
    img, video {
      display: block;
      margin: 30px;
    }
  }

  .section-accent {
    border-bottom: 2px solid #fd4592a1;
    padding-bottom: 1px;
  }

  .content {

    > h1 {
      margin-bottom: 20px;
    }

    margin: 5%;
    line-height: 1.7rem;
  }

  .tech-items {
    display: inline-block;
    
    .tech-item {
      margin-right: 10px;
    }
  }
  

  .related-link {
    margin: 10px;
  }
}

@media (max-width: 1024px) {
  .detail-container {
    flex-direction: column-reverse;
  }

  .media {
    margin: auto;
  }

}

.margin-1 {
  margin: 25px;
  margin-left: 0;
}