$background: #020916;
$container: #5ab3b5;
$shirt: #b51231;
$skin: #c74b16;

.home-page {
  margin: 100px 0 100px 100px;
  display: flex;
  flex: 1 1 auto;

  .welcome {
    flex: 60%;
    align-items: center;
    margin: auto;

    > h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 100px;
    }

    #welcome-text {
      transition: .5s;
    }

    .subline {
      margin-top: 14px;
      margin-left: 5px;
    }
    
    .description {
      margin-top: 20px;
      margin-left: 5px;
      line-height: 1.8;
      font-size: 18px;
      font-family: 'Lato', sans-serif;

      .bzfd-link {
        color: red;
      }
    }
  }
}

.welcome-body {
  font-size: 30px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .home-page {
    flex-direction: column-reverse;
    margin: 50px;
  }

  .welcome {
    text-align: center;
  }
}
