.navbar {
  
  position: sticky;
  top: 0;
  padding: 50px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: white;
  
  .topics {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;

    > li {
      margin-right: 30px;
    }

  }
}

@keyframes fadeIn {
  to {
    color: pink;
  }
}