.navbar-custom {
  position: sticky;
  top: 0;
  padding: 50px;
  background-color: white;
  
  .name {
    margin-left: 45px;
  }

  .topics {
    float: right;

    > li {
      margin-right: 30px;
    }
  }
}

