$margin-offset: 20px;

.navbar-custom {
  position: sticky;
  top: 0;
  background-color: white;

  .topics {
    display: flex;

    > li {
      padding: 35px;
      padding-left: 20px;
    }

    > li:last-child {
      margin-right: $margin-offset;
    }

    .name {
      margin-left: $margin-offset;
    }
   
  }

  .push {
    margin-left: auto;
  }
}
